<style>
            h1 {
                color:purple;
                border-style: solid;
                border-width: 1px;
                border-color: red;
            }

            p {
                color:red;
            }

            body {
                background-color:dodgerblue;
            }

            .purple-text {
                color: hsla(240, 100%, 100%, .5);
            }

            .important {
                font-weight: bold;
            }

            #lead-paragraph {
                color:purple;
                font-weight: bold;
            }

            .important:hover {
                background-color: pink;
            }
            
            a[href="https://imagescomics.com/"] {
                background-color: #ff000d;
                padding: 1rem;
            }

            p.important {
                width: 75%
            }

            img {
                border-style: dashed;
                border-color: orange;
                border-width: 3px;
                width: 25%;
            }

            h1 {
                position: fixed;
                left: 220px;
                top: 300px;
                z-index: -1;
            }

            a {
                position: fixed;
                z-index: 1;
            }

        </style>